* {
  text-align: center;
  text-shadow: #000 0px 0px 1px;
}

h1 {
  color: white;
  margin-top: 10%;
}

body {
  background-image: url(../images/numbers.jpg);
}

.calculator {
  background-color: orange;
  width: 368px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

button {
  color: white;
  background-color: rgb(233, 185, 81);
  font-size: larger;
}

li  {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.preMath {
  height: 50px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  /* overflow-x: scroll; */
  width: 100%;
}

.gap {
  height: 26px;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.numbers div {
  display: grid;
  grid-template-columns: repeat(3, 83px);
  grid-template-rows: repeat(4, 34px);
}

.operators {
  margin-top: 22px;
  margin-bottom: 18px;
}

.operators div button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 83px;
}