* {
  text-align: center;
}

li  {
  display: inline;
  list-style-type: none;
}

.answer {
  height: 50px;
  background-color: brown;
}

.preMath {
  height: 50px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  background-color: aqua;
}

.buttons {
  display: flex;
  justify-content: center;
}

.numbers div {
  display: grid;
  grid-template-columns: repeat(3, 83px);
  grid-template-rows: repeat(4, 34px);
}

.operators div {
  display: grid;
  grid-template-columns: 83px;
  grid-template-rows: repeat(4, 34px);
}